#map{
    border: 1px solid black;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}


aside {
    width: 20%;
    margin-left: 10px;
}


input {
    width: 20px;
}